<div class="row">
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card auth">
      <div class="card-body auth-card">
        <div class="auth-avatar">
          <img src="https://img.icons8.com/?size=100&id=23264&format=png&color=000000" alt="user" class="user-image">
        </div>

        <form (ngSubmit)="signUp()">
          <div class="form-group">
            <label for="name">Customer:</label>
            <input type="text" name="name" class="form-control" placeholder="Customer Name" [(ngModel)]="customerData.name">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="********" [(ngModel)]="customerData.password">
          </div>
          <div class="form-group">
            <label for="c_password">Confirm Password:</label>
            <input type="password" name="c_password" class="form-control" placeholder="********" [(ngModel)]="c_password">
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-my" value="Sign Up">
          </div>

          <!-- Alert for signup failure -->
          <div *ngIf="signupFailed" class="alert alert-error" role="alert">
            {{ errorMessage }}
          </div>

          <div class="text-center login mt-3">
            Already have an account? <a routerLink="/login">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
